<div class="page-header">
  <h1>Time #<%= @time.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome</dt>
  <dd><%= @time.nome %></dd>

  <dt>Resume</dt>
  <dd><%= @time.resume %></dd>

  <dt>Funcao</dt>
  <dd><%= @time.funcao %></dd>

</dl>
